body {
    margin: 0;
    padding: 0;
}

.wc {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: url(../image/background.jpg);
    background-attachment: fixed;
} 

